[Unit]
Description=Backend Express 5 API Service (TaskDB)
Documentation=https://github.com/kamila2021/pipeline-demo
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/PROYECTO-INICIAL/backend
ExecStart=/usr/bin/node src/server.js

# Manejo de entorno y puerto
Environment=NODE_ENV=production
Environment=PORT=5001
Environment=DB_HOST=127.0.0.1
Environment=DB_PORT=5432
Environment=DB_NAME=taskdb
Environment=DB_USER=postgres
Environment=DB_PASSWORD=postgres

# Estrategia de resiliencia y reinicio automático
Restart=always
RestartSec=5s

# Límites de seguridad y recursos
StandardOutput=journal
StandardError=journal
SyslogIdentifier=backend-taskdb
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
